    <div id="menuline">
        <div id="menuline_box">
            <ul>
                <li>会社概要</li>
                <li>代表挨拶</li>
            </ul>
        </div>
    </div>
    <div id="mainBox", class="table">
            <table>
                <tr>
                    <th>名　称</th>
                    <td>株式会社ワズケム / WazCHem Inc.</td>
                </tr>
                <tr>
                    <th>事業内容</th>
                    <td>微細気泡技術の開発、運用</td>
                </tr>
                <tr>
                    <th>代表者</th>
                    <td>
                        <li>代表取締役社長 渡辺 泉翔</li>
                        <li>取締役　　内藤 優</li>
                        <li>取締役　　松井 貴裕</li>
                    </td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>045-334-7865</td>
                </tr>
                <tr>
                    <th>各種求人広告</th>
                    <td><a href="https://job.zigexn.com/jp/detail/a4a63z78" target="_blank">JOB ZIGExN</a>、<a href="https://shigotomo.arubaito-ex.jp/detail/481" target="_blank">シゴトモEX</a></td>
                </tr>
                <tr>
                    <th>コンタクト</th>
                    <td><a href="mailto:mizuha.watanabe@gmail.com">mizuha.watanabe@gmail.com</a>, 045-334-7865</td>
                </tr>
                <tr>
                    <th>本社所在地</th>
                    <td>〒103-0023 東京都中央区日本橋本町4-4-11<br/><br/><iframe width="400" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=T%C5%8Dky%C5%8D-to,+Minato-ku,+Hamamatsuch%C5%8D,+%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%90%E2%88%92%EF%BC%91%EF%BC%97&amp;aq=0&amp;oq=%E6%B8%AF%E5%8C%BA%E6%B5%9C%E6%9D%BE%E7%94%BA&amp;sll=35.673474,138.831482&amp;sspn=1.416792,1.395264&amp;brcurrent=3,0x60188bc0c8833d3b:0x444d1157cf8376b7,0&amp;ie=UTF8&amp;hq=&amp;hnear=T%C5%8Dky%C5%8D-to,+Minato-ku,+Hamamatsuch%C5%8D,+%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%90%E2%88%92%EF%BC%91%EF%BC%97&amp;ll=35.659632,139.755427&amp;spn=0.005535,0.00545&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=T%C5%8Dky%C5%8D-to,+Minato-ku,+Hamamatsuch%C5%8D,+%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%90%E2%88%92%EF%BC%91%EF%BC%97&amp;aq=0&amp;oq=%E6%B8%AF%E5%8C%BA%E6%B5%9C%E6%9D%BE%E7%94%BA&amp;sll=35.673474,138.831482&amp;sspn=1.416792,1.395264&amp;brcurrent=3,0x60188bc0c8833d3b:0x444d1157cf8376b7,0&amp;ie=UTF8&amp;hq=&amp;hnear=T%C5%8Dky%C5%8D-to,+Minato-ku,+Hamamatsuch%C5%8D,+%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%90%E2%88%92%EF%BC%91%EF%BC%97&amp;ll=35.659632,139.755427&amp;spn=0.005535,0.00545&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">大きな地図で見る</a></small></td>
                </tr>
            </table>
    </div>
