    <div id="menuline">
        <div id="menuline_box">
            <ul>
                <li><a href="company" title="会社概要">会社概要</a></li>
                <li><a href="greeting" title="挨拶">挨拶</a></li>
            </ul>
        </div>
    </div>
    <div id="mainBox">
    </div>
