  <div id="menuline">
      <div id="menuline_box">
        <ul>
          <li>ニュースリリース</li>
          <li>ファインバブルとは</li>
        </ul>
      </div>
  </div>

  <div id="mainBox">
    <%= image_tag("lp/newsrelease.png", width: "200", height: "60") %>
    <div id="update">
        <table>
            <tr>
                <td>2013.5.13</td><td class="news"><a href="http://www.nikkei.com/article/DGXNZO54924110R10C13A5TJE000/" target="_blank">日本経済新聞</a>、 <a href="http://jp.startup-dating.com/2013/05/manabo-founding" target="_blank">Startup-Dating</a>、 <a href="http://japan.cnet.com/news/business/35031943/" target="_blank">CNET</a>、 <a href="http://jp.techcrunch.com/2013/05/13/manabo-raises-38million-yen/" target="_blank">Tech Crunch</a>、 <a href="http://thestartup.jp/?p=6965" target="_blank">THE STARTUP</a>、 <a href="http://www.cyberagentventures.com/newsrelease/newsca/link-20130513/" target="_blank">Cyber Agent Ventures</a>に掲載していただきました。</td>
            </tr>
            <tr>
                <td>2013.5.13</td><td class="news">総額3800万円の第三者割当増資実施を公表しました。</td>
            </tr>
            <tr>
                <td>2013.4.28</td><td class="news"><a href="http://www.tedxtodai.com/" target="_blank">TEDx Todai Student Speaker Competition</a>にて、スピーカーとして出場させていただきました。</td>
            </tr>
            <tr>
                <td>2013.4.17</td><td class="news"><a href="http://kddi-web.twilio.jp/case/index.html" target="_blank">Twilio Japan Summit</a>にて、スピーカーとして登壇させていただきました。</td>
            </tr>
            <tr>
                <td>2013.4.17</td><td class="news">mana.boは設立一周年を迎えました。</td>
            </tr>
            <tr>
                <td>2013.4.13</td><td class="news"><a href="http://enterprisezine.jp/bizgene/detail/4743?p=3" target="_blank">EdTech JAPAN Pitch Festival Vol.2</a>にて、mana.boを紹介させて頂きました。</td>
            </tr>
            <tr>
                <td>2013.1.30</td><td class="news"><a href="http://jp.techcrunch.com/2013/01/30/jp20130130kddi-labo-4th-meeting/" target="_blank">KDDI∞ラボ第3期発表会</a>にて、「スマートデバイス賞」ならびに「オーディエンス賞」を頂きました。</td>
            </tr>
            <tr>
                <td>2012.12.28</td><td class="news"><a href="http://tech.littleshotaro.com/2012/12/28/50_web_services/" target="_blank">2013年も注目したい国内Web系サービス50選</a>に掲載されました。</td>
            </tr>
            <tr>
                <td>2012.12.16</td><td class="news"><a href="http://techcrunch.com/2012/12/16/infinity-ventures-summit-kyoto-2012/" target="_blank">米TechCrunch</a>にIVS特集としてmana.boが掲載されました。</td>
            </tr>
            <tr>
                <td>2012.12.16</td><td class="news"><a href="http://www.ustream.tv/recorded/27655848" target="_blank">IVS LaunchPad 2012 Fall</a>に出場しました。</td>
            </tr>
            <tr>
                <td>2012.10.1</td> <td class="news"><a href="http://headlines.yahoo.co.jp/hl?a=20121001-00000017-zdn_m-mobi" target="_blank">Yahooニュース</a>に取材記事を掲載して頂きました。</td>
            </tr>
            <tr>
                <td>2012.9.28</td> <td class="news"><a href="http://www.excite.co.jp/News/mobile/20120928/Itmedia_mobile_20121001017.html?_p=6" target="_blank">Exciteニュース</a>に取材記事を掲載して頂きました。</td>
            </tr>
            <tr>
                <td>2012.9.28</td> <td class="news"><a href="http://www.itmedia.co.jp/mobile/articles/1209/28/news143_2.html" target="_blank">ITメディア</a>に取材記事を掲載して頂きました。</td>
            </tr>
            <tr>
                <td>2012.9.27</td> <td class="news"><a href="http://jp.techcrunch.com/archives/jp20120927kddi-labo-3rd/" target="_blank">Tech Crunch Japan</a>に取材記事を掲載して頂きました。</td>
            </tr>
            <tr>
                <td>2012.9.27</td> <td class="news"><a href="http://k-tai.impress.co.jp/docs/news/20120927_562675.html" target="_blank">ケータイWatch</a>に取材記事を掲載して頂きました。</td>
            </tr>
            <tr>
                <td>2012.9.24</td> <td class="news"><a href="http://thestartup.jp/?p=3283" target="_blank">The Startup</a>に記事を掲載していただきました。</td>
            </tr>
            <tr>
                <td>2012.9.13</td> <td class="news"><a href="http://aws.amazon.com/jp/summit2012-report/" target="_blank">AWSスタートアップチャレンジ</a>に出場しました。</td>
            </tr>
            <tr>
                <td>2012.9.7</td> <td class="news">mana.boが<a href="http://www.kddi.com/mugenlabo/news/2012/0907/index.html" target="_blank">KDDI∞Laboプログラム第三期</a>に採択されました。</td>
            </tr>
            <tr>
                <td>2012.7.13</td> <td class="news"><a href="http://www.infinityventures.com/ivs/archives/2012summerworkshop/" target="_blank">IVS Summer Workshop2012懇親会</a>にて登壇しました。</td>
            </tr>
            <tr>
                <td>2012.7.1</td> <td class="news"><a href="http://bizjapan2012.blogspot.jp/2012/07/sv-sec.html" target="_blank">BizJapan SV-SEC2012のビジネスコンテストにてmana.boが入賞</a>しました。</td>
            </tr>
            <tr>
                <td>2012.4.17</td><td class="news">mana.bo Inc.で法人登記し、<a href="https://www.facebook.com/mana.bo.Inc" target="_blank">Facebookページ</a>をオープンしました。</td>
            </tr>
            <tr>
                <td>2012.4.1</td><td class="news">提携している受験指導塾様向けにクローズドβ版を稼働開始しました。</td>
            </tr>
        </table>
    </div>
    <br />
    <br />

    <iframe width="620" height="315" src="//www.youtube.com/embed/TnNArMI1Lts" frameborder="0" allowfullscreen></iframe>
  </div>
